//@import 'https://fonts.googleapis.com/css?family=Playfair+Display:900i|Roboto:300,400,600';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:900i|Roboto+Condensed:300,400,700';

/************************************************
*				BASIC SETUP						*		
*************************************************/
$font_color:#454545;
$contrast_color:#fff;
$main_font: 'Roboto Condensed', sans-serif;
$heading_font:'Playfair Display',sans-serif;

$theme_color:#CF000F;//#E67E22 #3498DB #2980B9 #16a085 #2276D2 #CF000F
$second_theme:#111;
$second_bg:#ECEEF1;



$border_color:#DCDCDC;//light grey
$box_shadow_color:#555;


$panel_bg:#b6bbc7;
$success_color:#DFF0D8;
$error_color:#F2DEDE;
