#about{
	margin-top: -60px;	
	z-index: 10;
	position: relative;
	//main div wrap all element of about section include page-heading
	.container{
		padding: 30px;
		padding-top: 0;
		box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.1);
		background: $contrast_color;
	}
	
	//main content
	.info {	
		div:first-child{//bio and social link 
			p{//bio content
				text-align: justify;
				line-height: 30px;
			}			
			.social-link{margin: 40px; margin-left: 0;}
		}

		div:last-child{font-size: 90%;}
	}
	
	//calendar
	.about-img div{
		//background: $panel_bg;
		margin-top: 50px;
		padding:30px; 
		//border:1px solid black;		
		text-align: center;
		img{
			width: 80%;
			position: relative;
		}
		h2{
			font-family: $main_font;
			position: absolute;
			top:120px;
			left: 260px;
			font-size: 90%;
			.month{color: #E83E3E;display: block;margin-bottom: 10px;}
			.day{color:#16a085 ;}
			
		}
	}

}