/************************************************
*			 BASE SIDEBAR 						*		
*************************************************/
.panel{
	box-shadow: 0 2px 5px $box_shadow_color;
	border: none;
	margin-bottom: 20px;

	.panel-heading {
		text-align: center;
	    color: $contrast_color;
	    background-color: $panel_bg;

	    .title{
	    	font-size: 120%;
	    }
	}

	.line{
		border-bottom: 1px dotted $border_color;
		padding-bottom: 15px;
		&:last-child{
			border: none;
			padding-bottom: 0;
		}
	}
}