//BUTTON STYLES
.bt-primary{
	@include button_color($theme_color,$contrast_color,5px);
}
.bt-clear{
	@include button_color('transparent',$contrast_color,5px);
}

.bt-up{
	border:none;
	line-height: 42px;
	width: 42px;
	padding:5px;
	padding-top:0;
    height: 42px;
	background: red;	
	position: fixed;	
	bottom:30px; 
	right: 30px;	
	z-index: 9999;
	text-align: center;
    display: inline-block; 
    box-shadow: none;   
    i{color: $contrast_color;margin-right: 0;font-size: 300%;}
    &:hover{background: darken($theme_color, 1%)}	
}

//BUTTON SIZE
.bt-xlg{
	@include button_size('xlg');
}
.bt-lg{
	@include button_size('lg');
}
.bt-md{
	@include button_size('md');
}
.bt-sm{
	@include button_size('sm');
}
.bt-xs{
	@include button_size('xs');
}






