//Initial logo
#logo{	
	height: 50px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}
#name{
	margin-left: 20px; 
	font-size: 160%;
	color: $theme_color;
	font-style: italic;
	font-family: $heading_font;
}

#name-small{
	@extend #name;
	font-size: 100%;
}
.ft-logo{
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}

//Social media logo
$linkedin: #007bb5;
$facebook:#3b5998;
$github:#171515;
$twitter: #55acee;
$whatsapp:#25D366;
.fa-linkedin,
.fa-facebook,
.fa-github,
.fa-twitter,
.fa-whatsapp,
.fa-cube,
.fa-mobile,
.fa-code,
.fa-search{
	width: 32px;
    height: 32px;
    text-align: center;
    display: inline-block;
    color: $contrast_color;
    font-size: 13px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    line-height: 32px;
    margin-right: 10px;
    transition: all ease 0.4s;
    &:hover{background-color:  $theme_color;}
}
.fa-linkedin{background :$linkedin;}
.fa-facebook{background :$facebook; }
.fa-github{background :$github; }
.fa-twitter{background :$twitter; }
.fa-whatsapp{background :$whatsapp; }

.fa-cube,
.fa-mobile,
.fa-code,
.fa-search{
	background:$panel_bg; 
	font-size: 130%;
	width: 50px;
	height: 50px; 
	line-height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}