

//screen 1024px-1200px
@media only screen and (max-width: 1200px){
   	body{font-size: 16px;}
	.sticky-nav .main-nav .active{padding-bottom: 25px;}
	#about{
		>div >div:last-child div {
			.date{
				top:90px;
				left: 220px;
				font-size: 90%;
			}
		}
	}
}
//screen 768 - 1023
@media only screen and (max-width: 1023px){
	body{font-size: 15px;}
	header{
		background-attachment: scroll !important;
		.intro-text-box{h1{font-size: 310%;letter-spacing: 3px;}}
	}
	.main-nav li{margin-top: 15px;}
	.sticky-nav .main-nav .active{padding-bottom: 28px;}
	.date{display: none;}
	
}

//screen 481-767
@media only screen and (max-width: 767px){
	header{
		background-attachment: scroll !important;
		.intro-text-box{
			width: 500px;
			top:60%;
			h1{font-size: 240%;letter-spacing: 2px;}
			h2{font-size:100%;}
		}
	}
	.nav-mobile{display: inline-block;}
	#name{margin-top: 15px;margin-left: 5px;}
	#logo-small,#name-small{float: left !important;}
	.main-nav{
		//margin-left: 80px;
		margin-top: 0px;
		display: none;
		float: left !important;
		li {
			display: block;
			float: none;
		}
		.active{
			color:$theme_color !important;
			border: none;	
		}
	}
	.sticky-nav .active{color:$theme_color;}
	.sticky-nav .main-nav{margin-top: 5px;}
}
	
//small devices screen less than 480px 
@media only screen and (max-width: 480px){	
	header{
		.intro-text-box{
			width: 400px;
			top:55%;
			h1{font-size: 160%;letter-spacing: 2px;}
			h2{font-size:90%;}
		}
	}	

}