//main nav
nav{
	background: transparent;
	padding: 10px;
	padding-top:60px; 
	z-index: 9999;
}
.main-nav {
	
	//the block of emelment
	li {
		display: inline-block;
		float: left;
		margin-right: 30px;
		margin-top: 10px;
		&:last-child{margin-right: 0;}
	}
	//main element on the right Home.about...
	li a{
		font-size: 90%;
		color:$contrast_color;
	    text-transform: uppercase;	    	 
		text-decoration: none;   
		border-bottom: 2px solid transparent;
		padding: 0 5px 7px 5px;	
		transition: color.3s;
		&:hover,
		&:active{
			text-decoration: none;
			color:$theme_color;
		}	
	}
	.active{
		color:$theme_color;
		border-bottom: 5px solid $theme_color;
		padding: 5px;
		padding-bottom: 20px;		
	}
}

//sticky nav
.sticky-nav{

	@extend .main-nav;
	padding: 10px;
	background-color: $second_theme;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	z-index: 9999;	
}
//nav for mobile
.nav-mobile{
	font-size: 180%;
	float: right;
	display: none;
	cursor: pointer;
}